### backend ### 
/backend/.idea/
/backend/build/
/backend/out/
/backend/*.class
/backend/*.jar
/backend/*.war
/backend/*.ear
/backend/.gradle/
!/backend/gradle/wrapper/*
/backend/scores.txt
/backend/uploads

# Ignore Gradle GUI config
/backend/gradle-app.setting

# Cache of project
/backend/.gradletasknamecache

### IntelliJ IDEA ###
/backend/.idea/
/backend/*.iws
/backend/*.iml
/backend/*.ipr
/backend/out/

### NetBeans ###
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/

### VS Code ###
/backend/.vscode/
## -------- ###


### frontend ### 
/frontend/build
/frontend/node_modules
/frontend/package-lock.json
/frontend/.vscode/
/frontend/.idea/
### ------- ###


