#files/directories/patterns intentionally ignored by git

.idea
/build/
/out/
*.class
*.jar
*.war
*.ear
.gradle/
gradle/
!gradle/wrapper/*

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
