.header {
  background-color: #606060;
}

.divider {
  margin: 20px;
  display: inline-block;
}

.buttons_line {
  text-align: left;
}

.conflicts {
  color: #c52020;
  font-weight: bold;
}

.conflict {
  margin-top: 2rem;
  font-weight: bold;
}